dist: trusty
sudo: required
language: cpp

os: linux
compiler: gcc

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-6
      - gcc-6
      - valgrind
      - cmake
      - cppcheck
      - lcov
      - gcovr
      - clang-format/tidy

before_script:
  - sudo apt-get install -y libgtest-dev
  - cd /usr/src/gtest
  - sudo cmake .
  - sudo make
  - sudo cp *.a /usr/lib

script:
  - cd "${TRAVIS_BUILD_DIR}"
  - ./linters/run.sh
  - CXX=/usr/bin/g++-6 CC=/usr/bin/gcc-6
  - cmake .
  - make
  - valgrind -v --show-leak-kinds=all --track-origins=yes --leak-check=full ./tests.out
  - bash <(curl -s https://codecov.io/bash)
