dist: trusty
sudo: required
language: cpp

os: linux
compiler: gcc

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-6
      - gcc-6
      - valgrind
      - cmake
      - cppcheck
      - lcov
      - gcovr

before_script:
  - sudo apt-get install -y libgtest-dev
  - cd /usr/src/gtest
  - sudo cmake .
  - sudo make
  - sudo cp *.a /usr/lib

script:
  - cd "${TRAVIS_BUILD_DIR}"
  - ./linters/run.sh
  - cmake .
  - make
  - valgrind --track-origins=yes --leak-check=full ./tests.out
