dist: trusty
sudo: required
language: c

arch:
  - s390x

os: linux
compiler: gcc

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-9
      - gcc-9
      - valgrind
      - cmake
      - cppcheck
      - lcov
      - gcovr
      - clang

before_script:
  - lsb_release -a
  - sudo apt-get install -y libgtest-dev
  - cd /usr/src/gtest
  - sudo cmake .
  - sudo make
  - sudo cp *.a /usr/lib

script:
  - cd "${TRAVIS_BUILD_DIR}"
  - ./linters/run.sh
  - cmake .
  - make
  - valgrind --version
  - valgrind -v -d --show-leak-kinds=all --track-origins=yes --leak-check=full ./tests.out
  - valgrind --show-leak-kinds=all --track-origins=yes --leak-check=full ls
  - bash <(curl -s https://codecov.io/bash)
