dist: trusty
sudo: required
language: cpp

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-6
      - gcc-6
      - valgrind
      - cmake

script:
  - sudo ln -s usr/local/bin/gcc-6
  - sudo ln -s usr/local/bin/g++-6
  - cmake --version
  - cmake CMakeLists.txt
  - cmake --build .